<h1><%= @user.name %>さんとのチャット</h1>

<div class='message'>
<% @chats.each do |chat| %>
<p><%= chat.message %></p>
<% end %>
</div>
<%= form_with model: @chat, remote: true do |f| %>
<%= f.text_field :message %>
<%= f.hidden_field :room_id %>
<%= f.submit "SEND", class:"btn btn-sm btn-success chat-btn" %>
<% end %>

